version: '3.8'

services:
  # Il tuo Email Service
  app:
    build: .
    container_name: email-service-app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo

  # Database MongoDB
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: pass
    ports:
      - "27017:27017"
    volumes:
      - mongo-configdb:/data/configdb
      - mongo-db:/data/db

  # Interfaccia grafica per il Database
  mongo-express:
    container_name: mongo-express
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: pass
      ME_CONFIG_MONGODB_URL: mongodb://root:pass@mongo:27017/
      ME_CONFIG_BASICAUTH: "false"
    depends_on:
      - mongo

volumes:
  mongo-configdb:
  mongo-db: